<% if flash[:notice] %>
<div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="page-header">

  <div class="pull-right">
  <%= link_to 'New Task', new_project_task_path(@project), class:"btn btn-info" %>
  </div>

  <h1>Tasks for <%= @project.name %></h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active">Tasks</li>
</ol>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Complete</th>
      <th class="text-left">Due On</th>
    </tr>
  </thead>

  <tbody>
    <% @project.tasks.each do |task| %>
      <tr>
        <td><%= link_to task.description, project_task_path(@project, task)%></td>
        <td><%= task.completed %></td>
        <td><%= task.change_date %></td>
        <td class="text-right">
        <%= link_to 'Show', project_task_path(@project, task), class:"btn btn-success"%>
        <%= link_to 'Edit', edit_project_task_path(@project, task), class:"btn btn-info" %>
        <%= link_to 'Delete', project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
