<% if flash.now[:alert] %>
<%= render partial: "shared/errors", locals: {table: @user} %>
<% end %>

<%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>

<div class="form-group">
  <label class="control-label col-md-2">
    <%= f.label :first_name, 'First Name'  %>
  </label>
  <div class="form-controls col-md-4">
    <%= f.text_field :first_name, :class =>'form-control' %>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-2">
    <%= f.label :last_name, 'Last Name' %>
  </label>
  <div class="form-controls col-md-4">
    <%= f.text_field :last_name, :class =>'form-control' %>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-2">
    <%= f.label :email %>
  </label>
  <div class="form-controls col-md-4">
    <%= f.email_field :email, :class =>'form-control' %>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-2">
    <%= f.label :password %>
  </label>
  <div class="form-controls col-md-4">
    <%= f.password_field :password, :class =>'form-control' %>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-2">
    <%= f.label :password_confirmation %>
  </label>
  <div class="form-controls col-md-4">
    <%= f.password_field :password_confirmation, :class =>'form-control' %>
  </div>
</div>

<% if current_user.admin == true %>
  <div class="form-group">
    <div class ="col-md-4 col-md-offset-2">
      <%= f.check_box :admin %> Admin
    </div>
  </div>
<% end %>

<div class="form-group">
  <div class="actions">
    <div class="col-md-offset-2 col-md-4">
      <input class="btn btn-primary"<%= f.submit %>
      <% unless @user.id == nil %>
      <%= link_to 'Delete User', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      <% end %>
      <%= link_to 'Cancel', users_path, class:"btn btn-default" %>
      </input>
    </div>
  </div>
</div>


<% end %>
