<div class="page-header">
  <div class="pull-right">
  <%= link_to 'New User', new_user_path, class:"btn btn-info" %>
  </div>
  <h1>Users</h1>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.full_name, user %></td>
        <% if (user.id == current_user.id) || (((user.memberships.map {|m| m.project_id}) & (current_user.memberships.map {|m| m.project_id})).count >= 1) || current_user.admin?  %>
          <td><%= mail_to(user.email) %></td>
        <% else %>
          <td></td>
        <% end %>
        <td class="text-right"><%= link_to 'Edit', edit_user_path(user), class:"btn btn-info" %>
          <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
