<div class=page-header>
  <div class="pull-right">
    <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-info" %>
  </div>
  <h1>
  <%= @user.full_name %>
  </h1>
</div>

<ol class="breadcrumb">
  <li><a href="/users">Users</a></li>
  <li class="active"><%= @user.full_name %></li>
</ol>

<dl class="dl-horizontal">
  <dt>First Name</dt>
  <dd><%= @user.first_name %></dd>
  <dt>Last Name</dt>
  <dd><%= @user.last_name %></dd>
  <% if @user.id == current_user.id || (((@user.memberships.map {|m| m.project_id}) & (current_user.memberships.map {|m| m.project_id})).count >= 1) || current_user.admin? %>
    <dt>Email</dt>
    <dd><%= mail_to(@user.email) %></dd>
  <% end %>
</dl>
