<% if flash[:notice] %>
<div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class=page-header>
  <div class="pull-right">
    <%= link_to 'See All Projects', projects_path, class:"btn btn-info" %>
    <%= link_to 'Edit', edit_project_path(@project), class:"btn btn-info" %>
    <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
  </div>
  <h1>
  <%= @project.name %>
  </h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li class="active"><%= @project.name %></li>
</ol>

<div>
  <%= link_to "#{@project.tasks.count} Task".pluralize(@project.tasks.count) , project_tasks_path(@project) %>
</div>
