<h1 class=page-header id="top">Frequently Asked Questions</h1>

  <% @CommonQuestions.each do |x| %>
  <ul> <li><%= link_to x.question, "##{x.slug}" %> </li> </ul>
  <% end %>


  <% @CommonQuestions.each do |x| %>
  <h3 id="<%= x.slug %>"><%= x.question %></h3>
  <p><%= x.answer %></p>
  <p><%= link_to "top", "#top" %></p>
  <% end %>
